
body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-family:ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial;
    /* padding: 20px; */
}
html{
    scroll-behavior: smooth;
}

img{max-width:100%;height:auto;display:block}
a{color:inherit}

.banner{
    height: 45vh;
}
.abtbnr{
    height: 75vh;
}
.bghdrcrses{
    height: 45vh;
    /* background-position-x: 50px; */
}


@media screen and (min-width: 1024px) {
    .banner{
        height: 90vh;
    }
    .abtbnr{
        height: 60vh;
    }
    .bghdrcrses{
        background-position: -50px -150px;
        height: 60vh;
    }
}
@media screen and (max-width: 768px) {

    /* 392px */
}